{% extends 'base.html.twig' %}

{% block title %}ForumCategory index{% endblock %}

{% block body %}
    <h1>ForumCategory index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for forum_category in forum_categories %}
            <tr>
                <td>{{ forum_category.id }}</td>
                <td>{{ forum_category.name }}</td>
                <td>{{ forum_category.description }}</td>
                <td>
                    <a href="{{ path('app_forum_category_show', {'id': forum_category.id}) }}">show</a>
                    <a href="{{ path('app_forum_category_edit', {'id': forum_category.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_forum_category_new') }}">Create new</a>
{% endblock %}
